<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>406986926521-7bpf3hg9geg57vh8a7tebh2v2deebcmo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406986926521-7bpf3hg9geg57vh8a7tebh2v2deebcmo</string>
	<key>API_KEY</key>
	<string>AIzaSyCtnPHRWpAxjYaOgqt1xAvqR-wBxA791DE</string>
	<key>GCM_SENDER_ID</key>
	<string>406986926521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techforline.socialapp</string>
	<key>PROJECT_ID</key>
	<string>socialapp-bd91b</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp-bd91b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:406986926521:ios:1bd70f5342a9faa5</string>
	<key>DATABASE_URL</key>
	<string>https://socialapp-bd91b.firebaseio.com</string>
</dict>
</plist>